@using MFI.Application.ViewModels.Clients.Providers

@model CardsProviderView


<div>
    @foreach (var card in Model.Items)
    {
        <div class="panel panel-default">
            <div class="panel-heading">
                <div class="panel-title">@card.Name</div>
                @if (!string.IsNullOrEmpty(card.CompanyName))
                {
                    <div class="card-subtitle">@card.CompanyName</div>
                }
            </div>
            <div class="panel-body">
                <p>
                    @foreach (var service in card.services)
                    {
                        <button type="button" class="btn btn-primary btn-sm">
                            @service.Name <span class="badge badge-light">@service.MinimalAmountText</span>
                            <span class="sr-only">unread messages</span>
                        </button>
                    }
                </p>
                <p>
                    @card.Description
                </p>
            </div>
        </div>
        <br />
    }
</div>
