@using MFI.Domain.Enums

@{
    ViewBag.Title = "Gerenciar Fornecedor";
}


<br />
<div class="row">
    <div class="col-md-12">
        <div class="panel panel-default">
            <div class="panel-heading " ligth>
                <h3 class="panel-title">
                    <a class="btn btn-default" href="@Url.Action("ChooseType","User", null)">
                        <i class="fas fa-reply"></i>
                    </a>&nbsp; Fornecedor
                </h3>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <section>
        <div class="wizard">
            <div class="wizard-inner">
                <div class="connecting-line"></div>
                <ul class="nav nav-tabs" role="tablist">

                    <li role="presentation" class="active">
                        <a href="#step1" data-toggle="tab" aria-controls="step1" role="tab" title="Fornecedor">
                            <span class="round-tab">
                                <i class="fas fa-user-edit"></i>
                            </span>
                        </a>
                    </li>

                    <li role="presentation" class="">
                        <a href="#step2" data-toggle="tab" aria-controls="step2" role="tab" title="Serviços">
                            <span class="round-tab">
                                <i class="fas fa-tasks"></i>
                            </span>
                        </a>
                    </li>
                </ul>
            </div>

            <form role="form">
                <div class="tab-content">
                    <div class="tab-pane active" role="tabpanel" id="step1">
                        @Html.Partial("_ClientProvider")

                        <ul class="list-inline pull-right">
                            <li>
                                <button type="button" class="btn btn-primary next-step" title="Ir para gerenciamento de serviços.">
                                    <i class="fas fa-tasks">&nbsp;&nbsp;</i>Ir Para Serviços
                                </button>
                            </li>
                        </ul>
                    </div>
                    <div class="tab-pane" role="tabpanel" id="step2">
                        @Html.Partial("_ServicesProvider")

                        <ul class="list-inline pull-right">
                            <li>
                                <button type="button" class="btn btn-default prev-step" title="Voltar para dados gerais do fornecedor.">
                                    <i class="fas fa-user-edit">&nbsp;&nbsp;</i>Voltar para dados do Fornecedor
                                </button>
                            </li>
                        </ul>
                    </div>
                    <div class="tab-pane" role="tabpanel" id="complete">
                        <h3>Complete</h3>
                        <p>You have successfully completed all steps.</p>
                    </div>
                    <div class="clearfix"></div>
                </div>
            </form>
        </div>
    </section>
</div>
<input id="urlNewClientProvider" type="hidden" value="@Url.Action("Create","ClientProvider")" />
<input id="urlLogin" type="hidden" value="@Url.Action("Login","User")" />

@section scripts{
    <script>

        $(document).ready(function () {
            //Initialize tooltips
            $('.nav-tabs > li a[title]').tooltip();

            //Wizard
            $('a[data-toggle="tab"]').on('show.bs.tab', function (e) {

                var $target = $(e.target);

                if ($target.parent().hasClass('disabled')) {
                    return false;
                }
            });

            $(".next-step").click(function (e) {

                var $active = $('.wizard .nav-tabs li.active');
                $active.next().removeClass('disabled');
                nextTab($active);

            });
            $(".prev-step").click(function (e) {

                var $active = $('.wizard .nav-tabs li.active');
                prevTab($active);

            });
        });

        function nextTab(elem) {
            $(elem).next().find('a[data-toggle="tab"]').click();
        }
        function prevTab(elem) {
            $(elem).prev().find('a[data-toggle="tab"]').click();
        }
    </script>
}

