<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Quero Fazer Festa</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <div id="domMessage" style="display:none;">
        <h1>Aguarde...</h1>
    </div>
    @Html.Partial("_Header")
    <div class="container body-content">
        @RenderBody()
    </div>
    <div class="navbar-fixed-top container" id="divMessages">
        <div class="alert alert-danger alert-dismissible row" id="dialog-error" role="alert" hidden>
            <div class="col-lg-1">
                <i class="fas fa-times-circle"></i>
            </div>
            <div class="col-lg-10">
                <span id="alertError"></span>
            </div>
            <div class="col-lg-1">
                <button id="btnCloseDialogError" type="button" class="close" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
        </div>

        <div class="alert alert-success alert-dismissible row" id="dialog-success" role="alert" hidden>
            <div class="col-lg-1">
                <i class="fas fa-check-circle"></i>
            </div>
            <div class="col-lg-10">
                <span id="alertSuccess"></span>
            </div>
            <div class="col-lg-1">
                <button id="btnCloseDialogSuccess" type="button" class="close" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
        </div>

        <div class="alert alert-warning alert-dismissible row" id="dialog-warning" role="alert" hidden>
            <div class="col-lg-1">
                <i class="fas fa-exclamation-triangle"></i>
            </div>
            <div class="col-lg-10">
                <span id="alertMessage"></span>
            </div>
            <div class="col-lg-1">
                <button id="btnCloseDialogWarning" type="button" class="close" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
        </div>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/customsite")
   
    @RenderSection("scripts", required: false)
</body>
</html>